<div class=" my-48 flex justify-center items-center">
  <div class="mr-4">
    <h1 class="text-4xl font-bold tracking-tight text-blue-600 sm:text-5xl">
      404
    </h1>
  </div>
  <div class="border-l border-gray-300 pl-4">
    <h1 class="text-4xl mb-4 font-bold tracking-tight sm:text-5xl">
      Page not found
    </h1>
    <h3 class="text-sm tracking-tight text-gray-500">
      Please check the URL in the address bar and try again.
    </h3>
    <div class="mt-4 flex-shrink gap-x-4 sm:justify-center">
      <a href="/home" class="inline-block mr-2 rounded-lg m bg-blue-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-blue-600 hover:bg-blue-700 hover:ring-blue-700">
        <span class="text-indigo-200" aria-hidden="true">&larr;</span>
        Go to back
      </a>
      <a href="#" class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
        Contact support
      </a>
    </div>

  </div>
</div>

