<div class="relative px-4 sm:px-8 lg:px-12 mt-10">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <header class="flex items-center flex-col">
      <h1 class="text-4xl font-bold tracking-tight text-black sm:text-5xl">
        Categories
      </h1>
      <p class="my-3 text-base text-zinc-600">
        I’ve worked on tons of little projects over the years.
      </p>
      <div class="mt-2 relative rounded-md">
        <svg width="20" height="20" fill="currentColor" class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-blue-500">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
        </svg>
        <input type="text" [(ngModel)]="term" aria-label="Filter projects" placeholder="Filter category..."
               class="appearance-none w-full text-sm leading-6 bg-transparent placeholder:text-slate-400
               rounded-md py-2 pl-10 ring-1 ring-slate-200 shadow-sm focus:ring-2 border-none">
      </div>
    </header>
    <div class="grid grid-cols-3 gap-8 mt-12">
      <div class="grid-cols-3 p-6 border rounded-2xl" *ngFor="let category of categoriesArr | filterCategory: term">
        <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-1 lg:grid-cols-1">
          <li class="group relative flex flex-col items-start">
            <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md
            shadow-zinc-800/5 ring-zinc-900/5 border border-zinc-700/50">
              <img alt="" src="{{category.category_img}}" width="32" height="32" decoding="async"
                   data-nimg="1" class="h-8 w-8" loading="lazy" style="color: transparent;">
            </div>
            <h2 class="mt-6 text-base font-semibold text-zinc-800">
              <div class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition
              group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-200/50 sm:-inset-x-6 sm:rounded-2xl">
              </div>
              <a routerLink="../tournaments" [queryParams]="{category: category.category_name}">
                <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                <span class="relative z-10">{{category.category_name}}</span>
              </a>
            </h2>
            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
              {{category.category_description}}
            </p>
            <p class="relative z-10 mt-6 flex text-sm font-medium text-zinc-400 transition group-hover:text-blue-500
              dark:text-zinc-200">
              <span class="mr-1">Go to</span>
              <span aria-hidden="true">&rarr;</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
