<div class="mt-28">
  <header class="flex items-center flex-col mb-2">
    <h1 class="text-5xl font-clashDisplayMedium">
      {{'Tournaments' | translate}}
    </h1>
    <p class="mt-2 text-base text-zinc-600 dark:text-zinc-400">
      I’ve worked on tons of little projects over the years.
    </p>
  </header>
  <div class="relative z-10 mx-40">
    <nav class="flex gap-2 text-sm font-medium">
      <div class="grow relative rounded-md">
        <svg width="20" height="20" fill="currentColor" class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-blue-500">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
        </svg>
        <input type="text" [(ngModel)]="term" aria-label="Filter projects" placeholder="Filter tournaments..."
               class="appearance-none w-full text-sm leading-6 bg-transparent placeholder:text-slate-400
               rounded-md py-2 pl-10 ring-1 ring-slate-200 shadow-sm focus:ring-2 border-gray-[5%]">
      </div>
      <input type="Date" [(ngModel)]="date" name="start_date" id="start_date"
             class="flex-none w-36 py-2 rounded-md border-gray-200 focus:border-blue-500 focus:ring-blue-500 sm:text-sm" placeholder="Start date">
      <select [(ngModel)]="category" class="flex-none w-36 bg-gray-50 border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2">
        <option value="">All</option>
        <option *ngFor="let category of categories" [value]="category.category_name">{{category.category_name}}</option>
      </select>
    </nav>
    <article *ngFor="let tournament of tournaments | filterTournament: date || term || category"
             (click)="goToTournament(tournament.id)"
             class="border rounded-md my-2 p-4 space-x-4 items-start sm:space-x-6 flex
             hover:bg-gray-100 transition duration-100 ease-in-out">
      <div class="min-w-0 relative flex-auto">
        <h2 class="font-semibold text-slate-900 truncate sm:pr-20">{{tournament.name}}</h2>
        <dl class="mt-2 flex flex-wrap text-sm leading-6 font-medium">
          <div class="hidden absolute top-0 right-0 sm:flex items-center space-x-1">
            <dd>{{tournament.prize_fund}}</dd>
            <dt>KZT</dt>
          </div>
          <div>
            <dt class="sr-only">Rating</dt>
            <dd class="ring-1 ring-slate-200 rounded-md flex items-center px-1.5 py-1 bg-white">
              <img src="{{tournament.category.category_img}}" loading="lazy" decoding="async" alt="" width="23"
                   class="flex-none rounded-md pr-1.5">
              <span class="text-sm">{{tournament.category.category_name}}</span>
            </dd>
          </div>
          <div class="ml-2">
            <dt class="sr-only">Date</dt>
            <dd class="px-1.5 py-1">{{tournament.start_date | date:'dd.MM.yyyy HH:mm '  : 'UTC' + 6}}</dd>
          </div>
          <div>
            <dd class="flex items-center px-1.5 py-1">
              <svg width="2" height="2" fill="currentColor" class="mx-2 text-slate-300" aria-hidden="true">
                <circle cx="1" cy="1" r="1"></circle>
              </svg>
              to</dd>
          </div>
          <div>
            <dt class="sr-only">End date</dt>
            <dd class="flex items-center px-1.5 py-1">
              <svg width="2" height="2" fill="currentColor" class="mx-2 text-slate-300" aria-hidden="true">
                <circle cx="1" cy="1" r="1"></circle>
              </svg>
              {{tournament.end_date | date:'dd.MM.yyyy HH:mm '  : 'UTC' + 6}}
            </dd>
          </div>
          <div class="flex-none w-full mt-2 font-normal">
            <dt class="sr-only">Description</dt>
            <dd class="text-slate-400">{{tournament.description}}</dd>
          </div>
        </dl>
      </div>
    </article>
    <ngb-pagination [collectionSize]="totalElements"
                    [(page)]="pageNumber"
                    [maxSize]="8"
                    [pageSize]="pageSize"
                    [boundaryLinks]="true"
                    (pageChange)="getAllTournaments()">
    </ngb-pagination>
  </div>
</div>
