.navbar-buttons{
  @apply border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform
  hover:border-blue-500 mx-1.5 sm:mx-6;
}

.ani-dropdown {
  opacity: 0;
  animation: ani 0.4s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*@keyframes ani-icon {*/
/*  0% {*/
/*    opacity: 0;*/
/*    transform: translateX(-20px);*/
/*  }*/
/*  100% {*/
/*    opacity: 1;*/
/*    transform: translateX(0);*/
/*  }*/
/*}*/

.logoSpan1 {
  animation: fadeInRight 600ms ease-in-out;
}

.logoSpan2 {
  animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
  }
}

.links a:hover{
  cursor: pointer;
  border-bottom: 2px solid #B0B0B0 !important;
  @apply transition-colors duration-300 transform
}

.links .activeLink {
  border-bottom: 2px solid #000 !important;
  @apply transition-colors duration-300 transform text-black
}

.language-picker {
  border: 0;
  border-radius: 5px;
  height: 33px;
  width: 60px;
  margin-left: 5px;
  font-size: 15px;
  padding: 0 25px 0 10px;
}


