<div id="app" class="mx-16">
  <!-- This example requires Tailwind CSS v3.0+ -->
  <div class="bg-white">
    <div class="pt-6">
      <div>
        <nav class="flex h-9 items-center justify-between" aria-label="Global">
          <div class="flex" aria-label="Global">
            <a href="#" class="-m-1.5 p-1.5 flex items-center">
              <img class="h-8" src="/assets/logo.png" alt="Logo">
            </a>
          </div>

          <div class="flex justify-center gap-x-12">
            <a href="category" class="navbar-buttons">Categories</a>
            <a href="tournaments" class="navbar-buttons">Tournaments</a>
            <a href="#" class="navbar-buttons">Organizations</a>
          </div>

          <div *ngIf="!isLoggedIn">
            <a href="/login" class="flex gap-2 inline-block rounded-lg px-3 py-1.5 text-sm font-semibold leading-6 text-gray-900
            shadow-sm ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              <span>Log in</span>
              <img src="/assets/vuesax/linear/login.svg" alt="login">
            </a>
          </div>

          <div *ngIf="isLoggedIn" class="flex items-center">
            <div class="relative">
              <div (click)="isOpen = !isOpen" class="container flex justify-center mx-auto">
                <div class="relative">
                  <img src="/assets/vuesax/linear/user-tick.svg" alt="login">
                  <span class="absolute right-0 w-3 h-3 bg-blue-600 border-2 border-white rounded-full top-3 animate-pulse"></span>
                </div>
              </div>

              <!-- Menu list -->
              <div *ngIf="isOpen" class="absolute text-end border ani-dropdown right-0 z-20 w-36 mt-2 overflow-hidden bg-white rounded-md shadow-lg">
                <a href="/profile" class="block px-4 py-2 text-sm text-gray-800 transition-colors duration-300 transform border-b hover:bg-gray-200">{{ username }}</a>
                <a href="/admin/category" class="block px-4 py-2 text-sm text-gray-800 transition-colors duration-300 transform border-b hover:bg-gray-200">Admin board</a>
                <a href (click)="logout()" class="block px-4 py-2 text-sm text-gray-800 transition-colors duration-300 transform hover:bg-gray-200">Logout</a>
              </div>
            </div>
          </div>

        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div role="dialog" aria-modal="true">
          <div class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden">
            <div class="flex h-9 items-center justify-between">
              <div class="flex">
                <a href="#" class="-m-1.5 p-1.5">
                  <span class="sr-only">Your Company</span>
                  <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
                </a>
              </div>
              <div class="flex">
                <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                  <span class="sr-only">Close menu</span>
                  <!-- Heroicon name: outline/x-mark -->
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Product</a>

                  <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Features</a>

                  <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Marketplace</a>

                  <a href="#" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Company</a>
                </div>
                <div class="py-6">
                  <a href="#" class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6 text-gray-900 hover:bg-gray-400/10">Log in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <footer class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
      <div class="border-t border-slate-900/5 py-10">
        <a href="#" class="-m-1.5 p-1.5 flex items-center justify-center">
          <img class="h-8 mx-2" src="/assets/logo.png" alt="Logo">
        </a>
        <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2022 Sportsmaster Labs Inc. All rights reserved.</p>
        <div class="mt-16 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
          <a href="/privacy-policy">Privacy policy</a>
          <div class="h-4 w-px bg-slate-500/20"></div>
          <a href="/changelog">Changelog</a>
        </div>
      </div>
    </footer>
  </div>
</div>
