.navbar-buttons{
  @apply border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform
  hover:border-blue-500 mx-1.5 sm:mx-6;
}

.ani-dropdown {
  opacity: 0;
  animation: ani 0.4s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

