<div id="app" class="mx-20 mt-12">
  <div>
    <div class="container">
      <div class="relative">
        <nav class="z-50 grid grid-cols-12 gap-4 h-9 items-center" aria-label="Global">
          <div class="col-span-4">
            <a href="#" class="-m-1.5 p-1.5 flex items-center font-bold font-clashDisplayBold text-3xl">
              <span class="logoSpan1">SPORT</span><span class="logoSpan2 text-[#69C6AC]">TIME</span>
            </a>
          </div>

          <div class="col-span-8 links text-gray-300 text-3xl font-clashDisplayBold font-bold flex justify-end gap-x-10">
            <a [routerLinkActive]="'activeLink'" routerLink="/home">{{'Main' | translate}}</a>
            <a [routerLinkActive]="'activeLink'" routerLink="/category">{{'Categories' | translate}}</a>
            <a [routerLinkActive]="'activeLink'" routerLink="/tournaments">{{'Tournaments' | translate}}</a>
            <a [routerLinkActive]="'activeLink'" *ngIf="!isLoggedIn" routerLink="/login">{{'Sign in' | translate}}</a>
            <a [routerLinkActive]="'activeLink'" routerLink="/profile" *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">{{username}}</a>
          </div>
        </nav>
        <mat-menu #menu="matMenu" xPosition="before" class="shadow-none">
          <div class="border-black border-[1.5px] p-4 rounded-xl">
            <a href="profile" class="flex items-center text-sm text-gray-800">
              <span class="mx-1">{{'Profile' | translate}}</span>
            </a>
            <a href="/admin/categories" class="flex items-center  text-sm text-gray-800">
              <span class="mx-1">{{'Admin' | translate}}</span>
            </a>
            <a href (click)="logout()" class="flex items-center text-sm text-gray-800">
              <span class="mx-1">{{'Sign out' | translate}}</span>
            </a>
          </div>
        </mat-menu>
      </div>
    </div>
    <router-outlet class="z-0"></router-outlet>
    <footer class="mx-auto mt-32 w-full container px-4 sm:px-6 lg:px-8">
      <div class="border-t border-slate-900/5 py-10">
        <a href="#" class="-m-1.5 p-1.5 flex items-center justify-center">
          <img class="h-8 mx-2" src="/assets/logo.png" alt="Logo">
        </a>
        <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2022-2023 Sportsmaster Labs Inc. All rights reserved.</p>
        <div class="mt-16 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700">
          <a href="/privacy-policy">Privacy policy</a>
          <div class="h-4 w-px bg-slate-500/20"></div>
          <a href="/changelog">Changelog</a>
          <div class="h-4 w-px bg-slate-500/20"></div>
          <select (change)="selectLanguage($event)" [(ngModel)]="selectedLanguage" class="z-50 language-picker">
            <option *ngFor="let language of languages" [value]="language">{{ language }}</option>
          </select>
        </div>
      </div>
    </footer>
  </div>
</div>
