<main>
<!--  <p>{{ content }}</p>-->
  <div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-36 sm:pb-40">
      <div>
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative overflow-hidden rounded-full py-1.5 px-4 text-sm leading-6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              <span class="text-gray-600">
                The card for participation in competitions. <a href="#" class="font-semibold text-blue-600">
                <span class="absolute inset-0" aria-hidden="true"></span>View card <span aria-hidden="true">&rarr;</span></a>
              </span>
          </div>
        </div>
        <div>
          <h1 class="text-4xl font-bold tracking-tight sm:text-center sm:text-6xl">Start realizing yourself right now.</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">
            Take part in competitions, find out your strengths, get to know yourself, and realize. You will have a lot
            of work and a lot of success behind it.
          </p>
          <div class="mt-8 flex gap-x-4 sm:justify-center">
            <a href="#" class="inline-block rounded-lg bg-blue-600 px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-blue-600 hover:bg-blue-700 hover:ring-blue-700">
              Get started
              <span class="text-indigo-200" aria-hidden="true">&rarr;</span>
            </a>
            <a href="#" class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
              Some button
              <span class="text-gray-400" aria-hidden="true">&rarr;</span>
            </a>
          </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
          <svg class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem]" viewBox="0 0 1155 678" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="url(#ecb5b0c9-546c-4772-8c71-4d3f06d544bc)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
            <defs>
              <linearGradient id="ecb5b0c9-546c-4772-8c71-4d3f06d544bc" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
                <stop stop-color="#9089FC"></stop>
                <stop offset="1" stop-color="#FF80B5"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="relative px-4 sm:px-8 lg:px-12">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <header class="max-w-2xl">
      <h1 class="text-4xl font-bold tracking-tight text-black sm:text-5xl">
        Categories
      </h1>
      <p class="mt-2 text-base text-zinc-600 dark:text-zinc-400">
        I’ve worked on tons of little projects over the years.
      </p>
    </header>
    <div class="grid grid-cols-3 gap-x-14">
      <div class="grid-cols-3 mt-16 sm:mt-20" *ngFor="let category of categoriesArr | slice:0:6;">
        <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-1 lg:grid-cols-1">
          <li class="group relative flex flex-col items-start">
            <div class="relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md
            shadow-zinc-800/5 ring-zinc-900/5 dark:border dark:border-zinc-700/50">
              <img alt="" src="{{category.category_img}}" width="32" height="32" decoding="async"
                   data-nimg="1" class="h-8 w-8" loading="lazy" style="color: transparent;">
            </div>
            <h2 class="mt-6 text-base font-semibold text-zinc-800">
              <div class="absolute -inset-y-6 -inset-x-4 z-0 scale-95 bg-zinc-50 opacity-0 transition
              group-hover:scale-100 group-hover:opacity-100 dark:bg-zinc-200/50 sm:-inset-x-6 sm:rounded-2xl">
              </div>
              <a href="#">
                <span class="absolute -inset-y-6 -inset-x-4 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                <span class="relative z-10">{{category.category_name}}</span>
              </a>
            </h2>
            <p class="relative z-10 mt-2 text-sm text-zinc-600 dark:text-zinc-400">
              {{category.category_description}}
            </p>
            <p class="relative z-10 mt-6 flex text-sm font-medium text-zinc-400 transition group-hover:text-blue-500
              dark:text-zinc-200">
              <span class="mr-1">Go to</span>
              <span aria-hidden="true">&rarr;</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="mt-10 flex justify-center">
      <a href="category" class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
        More
      </a>
    </div>
  </div>
</div>

